/* TAG SELECTORS */

body {
  margin: 0;
  text-align: center;
}

h1 {
  margin-top: 0;
  width: 10%;
  margin: 0 auto 0 auto
}

/* CLASS SELECTORS */

.top-div {
  background-color: #E4F9F5 ;
  position: relative;
  padding-top: 100px;
}

.middle-div {
  background-color: #F4C7AB ;
  width: 200px;
  height: 200px;
}

.bottom-div {
  background-color: #B2B8A3 ;
  width: 200px;
  height: 200px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

/* ID SELECTORS */