/* TAG SELECTORS */

body {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 5.625rem;
  margin-top: 50px;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  color: #66bfbf;
}

h3 {
  color: #11999e;
}

a {
  color: #11999e;
}

/* CLASS SELECTORS */

.top-div {
  background-color: #E4F9F5 ;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
/* ID SELECTORS */